@page "/"

<PageTitle>Home</PageTitle>

<div class="grid">
	<main class="grid__main">
		<h1>Mythos</h1>
		<p>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus sapiente aliquam deleniti saepe harum porro
			unde
			similique temporibus incidunt qui facilis, doloremque quod.
			Eligendi illum id perspiciatis officiis deleniti voluptas? Lorem ipsum dolor sit, amet consectetur adipisicing
			elit.
			Repellendus culpa, quibusdam quasi eligendi quos perspiciatis ducimus deleniti est tempora quas iste a porro
			asperiores, enim earum sunt aut cumque pariatur.
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam praesentium quos cum tempore sunt consequatur
			necessitatibus illum, facere tenetur ad, aut voluptate vitae? Incidunt nostrum, voluptas impedit ad quas quod.
		</p>
	</main>
	<aside class="grid__sidebar">
		<div class="grid__widget blue">
			<h2>More Info</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam praesentium quos cum tempore sunt consequatur
				necessitatibus illum, facere tenetur ad, aut voluptate vitae? Incidunt nostrum, voluptas impedit ad quas quod.
			</p>
		</div>
		<div class="grid__widget green">
			<h2>More cool stuff</h2>
			<p>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, porro ab. Eveniet, amet. Repudiandae labore,
				veniam veritatis, quisquam exercitationem dolore, tempore suscipit aspernatur libero qui earum porro ea neque saepe!
			</p>
		</div>
		<div class="grid__widget magenta">
			<h2>Check out this cool thing!</h2>
			<p>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, porro ab. Eveniet, amet. Repudiandae labore,
				veniam, tempore suscipit aspernatur libero qui earum porro ea neque saepe!
			</p>
		</div>
	</aside>
</div>
