:root {
  --background-color: hsl(0, 1%, 26%);
  --text-color: hsl(0, 0%, 100%);
  }

  .magenta {
    background-color: hsl(300, 94%, 19%);
  }
  .blue {
    background-color: hsl(240, 97%, 27%);
  }

  .green {
    background-color: hsl(120, 100%, 27%);
  }
